div(id="home",data-role="page")
  div(data-role="header")
    h1= title
  ul(data-role='listview')
    li(data-role='list-divider')= 'iPhone'
    each item in list
      li= item.version
        a(href="itms-services://?action=download-manifest&url=http://192.168.11.11:3000/archives/" + item.version + ".plist")
  if !isIphone
    form(action='/upload', method='post', enctype="multipart/form-data", action="/upload")
      input(type='file',name='archive') 
      input(type='text',name='version',value='11.1')
      input(type='submit',value='送信')
 
